---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hai, saya Faisal. <br /> Ini adalah situs blog pribadi saya.</p>
		<p>
			Saya tertarik pada banyak hal <br /> terutama dalam teknologi, pemrograman, AI, bisnis dan
			beberapa macam konspirasi yang ada di muka bumi ini.
		</p>
		<p>
			Belajar hal baru terutama dibidang teknologi adalah sesuatu yang selalu saya lakukan. Dengan
			perkembangan teknologi yang pesat akan membuat kita tertinggal jika kita berhenti belajar.
		</p>
		<div class="flex justify-center">
			<Image
				src="https://cdn.pixabay.com/photo/2018/04/15/19/23/neural-network-3322580_960_720.png"
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
				width={350}
				height={550}
			/>
		</div>
		<p>
			Saya terbuka untuk berkolaborasi dalam diskusi tentang teknologi atau mengembangkan aplikasi
			yang Anda butuhkan.
		</p>

		<div class="flex justify-center">
			<Image
				src="https://cdn.pixabay.com/photo/2020/02/27/04/46/alien-4883391_960_720.png"
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
				width={550}
				height={750}
			/>
		</div>

		<p>Beberapa hal yang bisa kita diskusikan :</p>
		<ul class="list-inside list-disc">
			<li>Pembuatan Website</li>
			<li>Pengembangan Website</li>
			<li>Database manajemen</li>
			<li>Konspirasi-konspirasi menarik</li>
		</ul>
		<p>
			Hubungi Saya, <a
				class="cactus-link inline-block"
				href="mailto:muh.faisalltf@gmail.com"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="email">Email</a
			>
		</p>
	</div>
</PageLayout>
