---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi,I'm Faisal. This is my personal blog site.</p>
		<p>
			"I am interested in many things, especially in coding, AI, business, and all sorts of
			conspiracies that exist on the face of this earth."
		</p>
		<p>
			"Learning new things, especially in the field of technology, is something I do all the time.
			The rapid development of technology will leave us behind if we stop learning."
		</p>
		<div class="flex justify-center">
			<Image
				src="https://cdn.pixabay.com/photo/2018/04/15/19/23/neural-network-3322580_960_720.png"
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
				width={350}
				height={550}
			/>
		</div>
		<p>
			I am open to collaborating on discussions about technology or developing applications that you
			may need.
		</p>

		<div class="flex justify-center">
			<Image
				src="https://cdn.pixabay.com/photo/2020/02/27/04/46/alien-4883391_960_720.png"
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
				width={550}
				height={750}
			/>
		</div>

		<p>Several things I can help with :</p>
		<ul class="list-inside list-disc">
			<li>Website consultation</li>
			<li>Creating websites</li>
			<li>Social media content management</li>
			<li>Business discussions</li>
			<li>Technology development discussions</li>
		</ul>
		<p>
			Get in touch, <a
				class="cactus-link inline-block"
				href="mailto:muh.faisalltf@gmail.com"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">My Email</a
			>
		</p>
	</div>
</PageLayout>
